@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Hello and welcome to Web Blog.
    If you are looking for information about anything, you have come to the right place. 
</p>
