@model IEnumerable<WebBlog.Web.Models.PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<script>
    var pageSize = 3;
    var pageIndex = 0;


    $(document).ready(function () {
        getPosts();

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                getPosts();

                $(window).scrollTop($(window).scrollTop() - 10);
            }
        });
    });

    function buildPost(container, data) {
        $(container).append("<hr><div class=\"row\"> <div class=\"col-sm-4\"><a href=\"/Posts/Details/" + data.id
            + "\"><img src=\"data:image/jpeg;base64," + data.postImage + "\" class=\"img-responsive\"></a></div>"
            + "<div class=\"col-sm-8\"><h3 class= \"title\"><a href=\"/Posts/Details/" + data.id + "\">" + data.title + "</a></h3>"
            + "<p class=\"text-muted\"><span class=\"glyphicon glyphicon-calendar\"></span>" + new Date(Date.parse(data.lastModifiedTime)).toString('yyyy-MM-dd H:i:s') + "</p>" +
            "<p class=\"text-muted\">Presented by <a>" + data.userName + "</a></p></div></div><hr>"
        );
    }

    function getPosts() {
        $.ajax({
            type: 'GET',
            url: '/Posts/GetPosts',
            data: { "pageindex": pageIndex, "pagesize": pageSize },
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        buildPost("#container", data[i]);
                        console.log(data[i]);
                    }
                    pageIndex++;

                }
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }
</script>
<style>
    .img-container {
        object-fit: scale-down;
        width: 1140px;
        height: 360px;
    }
</style>

@if (Model.Count() != 0)
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i++)
            {
                if (i == 3)
                {
                    break;
                }
                <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? " active":"")"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                counter++;
                if (counter == 4)
                {
                    break;

                }
                <div class="@(counter == 1 ? " item active":"item")">
                    <div>
                        <img class="img-container" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PostImage))" alt="ASP.NET" />
                    </div>

                    <div class="carousel-caption" role="option">
                        <p>
                            @item.Title

                            <a class="btn btn-default" href="/Posts/Details/@item.Id">
                                Read More
                            </a>
                        </p>
                    </div>
                </div>
            }
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div id="container"></div>
<div id="progress" style="display:none; text-align:center">
    <i class="fa fa-spinner fa-spin" style="font-size:50px"></i>
</div>
