@model IList<int?>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <form asp-controller="AccountImage" asp-action="UploadImage" enctype="multipart/form-data" method="post">
            <input type="file" name="files" />
            <button>post</button>
        </form>
    }
}

@if (Model != null)
{

    @foreach (var item in Model)
    {
        <a asp-controller="AccountImage" asp-action="ChooseImage" asp-route-id="@item">
            <img src="/AccountImage/ViewImage/@item" width="225" height="225" />
        </a>
        @if (User.IsInRole("Admin"))
        {
            <td>
                <a asp-action="Delete" asp-route-id="@item">Delete</a>
            </td>
        }

    }
}