@model WebBlog.ApplicationCore.Entities.Post

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Post</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Posts" method="post" enctype="multipart/form-data">
            <em><font color="red">Attention! After creating, your article will not be available to the public. 
                It will appear only after validation by the administrator.</font></em>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <em>You can use tags...</em>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" cols="40" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HasImage" class="control-label">Upload Image?</label>
                <input asp-for="HasImage" type="checkbox" id="checkInput" name="HasImage" onclick="clickCheck('fileInput', this)" checked />
            </div>
            <div class="form-group">
                <label asp-for="FormPostImage" class="control-label"></label>
                <input asp-for="FormPostImage" id="fileInput" type="file" name="FormPostImage" class="form-control" />
                <span asp-validation-for="FormPostImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

