@model WebBlog.ApplicationCore.Entities.Post

@{
    ViewData["Title"] = "Edit";
}
<script>
    function clickCheck(el) {
        var siblings = document.getElementById("checkInput");


        if (siblings != el)
            siblings.oldChecked = false;
        if (el.oldChecked)
            el.checked = false;
        el.oldChecked = el.checked;
        siblings.value = el.checked;
        swapState(!el.checked);
    }
    function swapState(isDisabled) {
        document.getElementById("fileInput").disabled = isDisabled;
    }
</script>

<h2>Edit</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" cols="40" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ImageData" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" readonly />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasImage" class="control-label">Change Image?</label>
                <input asp-for="HasImage" type="checkbox" id="checkInput" name="HasImage" onclick="clickCheck(this)" checked />
            </div>
            <div class="form-group">
                <label asp-for="FormPostImage" class="control-label"></label>
                <input asp-for="FormPostImage" id="fileInput" type="file" name="FormPostImage" class="form-control" />
                <span asp-validation-for="FormPostImage" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

