@model WebBlog.ApplicationCore.Entities.Post
@{
    ViewData["Title"] = "UploadImage";
}

<h2>UploadImage</h2>
<div class="col-md-4">
    @using (Html.BeginForm("UploadImage", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Id)
        <input type="file" name="uploadedImage" id="file" />
        <input type="submit" value="Upload" />
    }
</div>

